.navbar{
  display: grid;
  grid-template-columns: 20vw 33vw 10vw;
  list-style-type: none;
    padding: 0;
    text-decoration: none;
    font-size: 1.5vw;
   font-family: sans-serif;
   font-weight: bold;
   border-bottom: 0.1vh solid black;
   width: 63vw;
   position: relative;
   left:18.2vw;
   margin-bottom: 5vw;
   padding-bottom: 2vh;
   padding-top: 2vh;
}
#navbar_id{
  display: grid;
  grid-template-columns: 7vw 7vw ;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
font-style: normal;
font-weight: 100;
font-size: 0.8vw;
position: relative;
top:1.5vh;
}
a{
    color: black;
  text-decoration: none;
}
#Logo{
font-family: 'Permanent Marker', cursive;
font-size: 2vw;
}
.navbar2{
  width: 64vw;
  display: grid;
  grid-template-columns:  11.5vw 10.5vw 8.5vw 11vw 8.5vw 10vw 10vw;
  padding: 0px;
  margin-left: 2.5vw;
}
.secondnavbar{
  position: relative;
  left: 16vw;
  bottom: 3vw;
  font-size: 0.8vw;
    width: 64vw;
}
