.card{
  margin-left: 18.5vw;
width: 15vw;
margin-bottom: 4vw;
  box-shadow: 2vw 0.1vw 4vw  0.1vw  #000000;
}
#cards-wrapper{
  display: grid;
  grid-template-columns: 22vw 22vw 22vw;
}
.cost1{
border-top: black 0.1vh solid;
width: 63vw;
position: relative;
left: 18.2vw;
margin-bottom: 10vw;
}
#cost{

  margin-left:26vw ;
  width: 12vw;
  margin-top:2vw;
  color: black;


}
.card_image{
  background: url("https://sun9-76.userapi.com/impf/GMFYWzc18F8YIL5cbBpZvnobciRH2G_YSSEmiQ/A9CzVvxU00U.jpg?size=720x720&quality=96&proxy=1&sign=2df12ef4d576c8743a89fe823aacf26e");
  background-size: cover;
  width: 18.2vw;
  height: 20vw;
}
.clotherImg{
  width: 18.2vw;
  height: 20vw;
}
.card_product{
 background-color: white;
    height: 15vw;
   width: 18.2vw;
background-color: white;
}
.price{
     color: black;
     position: relative;
     top:1vw;
     left: .5vw;
}
.card_name{
 text-transform: uppercase;
 font-size: bold;
    color: black;
    width: 15vw;
 position: relative;
left: .5vw;
top:.5vw;
}

.add{
  width: 17vw;
  height: 2vw;
  position:relative;
  top:2.5vw;
  left: 0.5vw;
  background-color: black;
  color: white;
  border: black solid 0.1vw;
  font-size: 1vw;
}
.wrapperselector{
  display: grid;
  grid-template-columns: 10vw 6vw;
  border-top: black 0.1vw solid;
  width: 17vw;

   position: relative;
   top:2vw;
      left: .5vw;
}
.select-css {
text-transform: uppercase;
display: block;
font-size: 1vw;
font-family: sans-serif;
font-weight: 700;
color: #444;
line-height: 1.3;
padding: .6em 1em .5em .8em; width: 100%;
max-width: 100%;
margin: 0;
border: white 1px solid;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
width: 10vw;
background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
background-size: .65em auto, 100%;
  height: 3vw;
  background-color: white;
}

 .select-css option { font-weight:normal; }
 *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
background-position: left .7em top 50%, 0 0;
padding: .6em .8em .5em 1.4em;
}
.sostav{
position: relative;
top: 2.5vw;
left: 0.5vw;
text-decoration: underline;
}
.button-wrapper{
  display: grid;
  grid-template-columns: 5vw 7vw 5vw;
}
.plus{
  width: 5vw;
    border: black solid 1px;
    background-color: white;
    color:black;
}
.minus{
  width:5vw;
    border: black solid 1px;
    background-color: white;
    color:black;
}
.numOfCloth{
  width: 7vw;
  height: 1.9vw;
  border-top:black solid 1px;
  border-bottom: black solid 1px;
  position:relative;
  top:2.5vw;
  left: 0.5vw;
  text-align: center;
    font-size:1.8vw;

}
.offz{
  margin-bottom:2vw;
  margin: 0px;
  position: relative;
  top:7vw;
  left:22.5vw;

}
.offz>a{
  color:white;
}
